* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body {
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27vh;
    width: 100%;
    background-color: #003366;
}

.navbar-inner-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 86%;
    background-image: url(xx.jpg);
    background-size: contain;
    background-repeat: no-repeat;

}

.form-div {
    height: 73vh;
    background-image: url(pattern.jpg);
    background-size: 462px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-inner-div {
    height: 300px;
    width: 500px;
    background-color: #eaf9ff;
    background-image: url(sticker-1.png);
    background-position: top right;
    background-repeat: no-repeat;
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    border-radius: 4px;
    outline: 2px solid white;
    box-shadow: inset 0px 0px 5px 1px #d6d6d6;
}

.form-inner-div span {

    font-size: 19px;
    text-shadow: 1.5px 1px 2px #000;
}

.input-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.input-div label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #2e415c;
}
.input-div input[type="number"] {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 8px #e3e3e3 inset;
    outline: none;
    padding-left: 10px;
    height: 25px;
    width: 200px;
}
.semester-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 288px;
    height: 50px;
    margin-top: 15px;
}
button {
    width: 63px;
    height: 36px;
    color: white;
    background-color: #4e4eed;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: 400ms;
}
button:hover{
    background-color: black;
    color: white;
}
.error {
    position: absolute;
    margin-top: 75px;
    color: red;
    display: none;
}